.nav-container {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
}

.delete-btn {
  padding: 7px;
  border: none;
  border-radius: 5px;
  background-color: #c1cdda;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #9ea9b4;
}
