.chat-container{
    width: 100%;
}

.chat-container form{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 50px;
    align-items: center;
    right: 0;
    left: 0;
}

.chat-container p{
    margin-left: 10px;
    margin-right: 10px;
}